.divComp {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dropButton {
	background-color: transparent;
}

.bGround {
	background: linear-gradient(60deg, rgb(46, 46, 48) 0%, rgb(58, 62, 63) 100%);
	height: 120vh;
}

.compTitle {
	font-family: 'Raleway';
	text-align: center !important;
	font-weight: bolder;
	padding: 10px 30px !important;
	color: white;
	background-color: #ef981c;
	border-radius: 4px;
	font-size: 40px;
	margin-top: 25px !important;
}

.compHr {
	width: 50px;
	border-top: 1px solid white !important;
}

.logosComp {
	height: 100px;
	width: auto;
}

.cardsLogo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-content: space-around;
	align-items: center;
	margin: 10px;
	background-color: rgba(255, 255, 255, 0.9);
	width: 130px;
	height: 130px;
}
.firstRow {
	display: flex;
	flex-direction: row;
}

.secondRow {
	display: flex;
	flex-direction: row;
}

.thirdRow {
	display: flex;
	flex-direction: row;
}

.compName {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	color: #333;
	font-size: 15px;
}

.nav-text {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 6px 16px 16px 16px;
	margin-right: 4vw;
	list-style: none;
	height: 60px;
}

.sidebar-items {
	text-decoration: none;
	color: #ef981c;
	font-size: 18px;
	padding: 0 16px;
	border-radius: 4px;
}

.closeButton {
	padding: 15px;
	color: #ef981c;
}

.sidebar-items {
	width: 100%;
}

span {
	margin-left: 16px;
}

.mobileComp{
	display: none;
}

@media (min-width: 320px) and (max-width: 480px) {
	.logosComp {
		height: 50px;
		width: auto;
	}

	.cardsLogo {
		display: flex;
		flex-direction: column;
		justify-content: center;
		justify-content: space-around;
		align-items: center;
		margin: 10px;
		background-color: rgba(255, 255, 255, 0.9);
		width: 60px;
		height: 70px;
	}

	.compName {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		color: #333;
		font-size: 9px;
		text-align: center;
	}

	.dropLeft{
		display: none;
	}

	.mobileComp{
		display: flex;
	}
	.tsparticles-canvas-el {
		display: none !important;
	}
	.competences {
		font-family: 'Raleway';
		text-align: center !important;
		font-weight: bolder;
		padding: 10px 30px !important;
		color: white;
		background-color: #ef981c;
		border-radius: 4px;
		font-size: 20px;
		display: inline-block;
		margin-top: 25px !important;
	}
	.allLogos {
		padding-left: 14% !important;
	}
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.logosComp {
		height: 50px;
		width: auto;
	}

	.cardsLogo {
		display: flex;
		flex-direction: column;
		justify-content: center;
		justify-content: space-around;
		align-items: center;
		margin: 10px;
		background-color: rgba(255, 255, 255, 0.9);
		width: 90px;
		height: 90px;
	}

	.compName {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		color: #333;
		font-size: 9px;
		text-align: center;
	}
}
