.comp {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(60deg, rgb(46, 46, 48) 0%, rgb(58, 62, 63) 100%);
	z-index: 200;
	color: white;
}

.compTitle {
	font-family: 'Raleway';
	text-align: center !important;
	font-weight: bolder;
	padding: 10px 30px !important;
	color: white;
	background-color: #ef981c;
	border-radius: 4px;
	font-size: 40px;
	display: inline-block;
	margin-top: 25px !important;
}

.compHr {
	width: 50px;
	border-top: 1px solid white !important;
}

.logos {
	height: 170px;
	width: auto;
}

.cards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-content: space-around;
	align-items: center;
	margin: 20px;
	background-color: rgba(255, 255, 255, 0.9);
	width: 250px;
	height: 250px;
}
.firstRow {
	display: flex;
	flex-direction: row;
}

.secondRow {
	display: flex;
	flex-direction: row;
}

.thirdRow {
	display: flex;
	flex-direction: row;
}

.compName {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	color: #333;
	font-size: 15px;
}

@media (min-width: 320px) and (max-width: 480px) {
	.logos {
		height: 50px;
		width: auto;
	}

	.cards {
		display: flex;
		flex-direction: column;
		justify-content: center;
		justify-content: space-around;
		align-items: center;
		margin: 10px;
		background-color: rgba(255, 255, 255, 0.9);
		width: 60px;
		height: 70px;
	}

	.compName {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		color: #333;
		font-size: 9px;
		text-align: center;
	}

	.compTitle {
		font-family: 'Raleway';
		text-align: center !important;
		font-weight: bolder;
		padding: 10px 30px !important;
		color: white;
		background-color: #ef981c;
		border-radius: 4px;
		font-size: 20px;
		display: inline-block;
		margin-top: 25px !important;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.logos {
		height: 50px;
		width: auto;
	}

	.cards {
		display: flex;
		flex-direction: column;
		justify-content: center;
		justify-content: space-around;
		align-items: center;
		margin: 10px;
		background-color: rgba(255, 255, 255, 0.9);
		width: 90px;
		height: 90px;
	}

	.compName {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		color: #333;
		font-size: 9px;
		text-align: center;
	}
}
