.contact{
    background-image: url('../assets/web2.jpg');
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
}
.contactTitle{
    font-family: 'Raleway';
    text-align: center !important;
    font-weight: bolder;
    padding: 10px 30px !important;
    color: white;
    background-color: #ef981c !important;
    border-radius: 4px;
    font-size: 40px;
    display: inline-block;
    margin-top: 25px !important;
}
.contactHr {
    width: 50px;
    border-top: 1px solid white !important;
}
.lead{
    color: white;
    text-align: center;
    font-size: 25px !important;
    font-weight: 900;
}
.form-group{
    max-width: 80%;
    padding: 0 0 0 20%;
    margin-bottom: 0 !important;
}

#exampleName,
#exampleEmail,
#exampleNumber {
    background: transparent;
    border: 2px solid white !important;
    color: white;
}
#exampleText {
    height: 300px;
    background: transparent;
    border: 2px solid white !important;
    color: white;
}
.buttonGroup{
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

@media (min-width: 320px) and (max-width: 480px) {
	.contactTitle{
        font-family: 'Raleway';
        text-align: center !important;
        font-weight: bolder;
        padding: 10px 30px !important;
        color: white;
        background-color: #ef981c !important;
        border-radius: 4px;
        font-size: 20px;
        display: inline-block;
        margin-top: 25px !important;
    }
}