

.animSvg{
    display: flex;
    justify-content: center;
    width:20%;
    height:20%;
    visibility: hidden;
    margin-left: 18%;
}

.gsap{
    display: flex;
    
}

.col-md-6{
    padding-right: 0 !important;
    padding-left: 0 !important;
}