

.animSvg{
    display: flex;
    justify-content: center;
    width:60%;
    height:60%;
    visibility: hidden;
    margin-left: 18%;
}

.gsap{
    background: linear-gradient(60deg, rgba(46, 46, 48, 0.1) 0%, rgba(58, 62, 63, 0.1) 100%);
}

.col-md-6{
    padding-right: 0 !important;
    padding-left: 0 !important;
}