.navbar {
    position: fixed !important;
    height: 100px !important;
    z-index: 400;
    width: 100%;
    transition: .5s;
    background-color: transparent !important;
    color: white;
}
.navbar.active {
    position: fixed !important;
    height: 100px !important;
    z-index: 400;
    width: 100%;
    transition: .5s;
    background-color: #333333 !important;
    color: white;
}
.navbar a{
    color: white;
}
.nav-link:hover{
    color: gold !important;
}

.navbar-brand{
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
}

.kp{
    font-weight: 900;
}
.navbar-brand:hover{
    color: white;
}
li{
    font-weight: 900;
    text-transform: uppercase;
}