.demo a {
	position: absolute;
	bottom: 20px;
	left: 50%;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #ffffff;
	transition: opacity .3s;
}
.demo a:hover {
	opacity: .5;
}

#section10 a {
	padding-top: 90px;
}
#section10 a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 35px;
	height: 55px;
	border: 3px solid #ffffff;
	border-radius: 50px;
	box-sizing: border-box;
}
#section10 a span::before {
	position: absolute;
	top: 10px;
	left: 50%;
	content: '';
	width: 6px;
	height: 6px;
	margin-left: -3px;
	background-color: #ffffff;
	border-radius: 100%;
	-webkit-animation: sdb10 3s infinite;
	animation: sdb10 3s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
	0% {
		-webkit-transform: translate(0, 0);
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		-webkit-transform: translate(0, 20px);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes sdb10 {
	0% {
		transform: translate(0, 0);
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		transform: translate(0, 20px);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
